*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(7, 61, 39);
    color: white;
    display:flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    margin-bottom: -2em;
}
header h4{
    margin-right: 30px;
}
header input{
    background-color: rgb(25, 95, 156);
    padding: 5px;
    color: white;
    border: 1px solid  rgb(25, 95, 156);
}
main{
    background-image:url(img/R\ \(1\).jpeg) ; 
    background-position: center;
    background-size: cover;
    height:93.8vh;
    
}
main h2{
    text-align: center;
    color: #fff;
    margin: 2em;
    position: relative;
    top: 15%;
    font-size: 2rem;


}
form{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.container {
    margin-top: 10em;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.one, .two {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}
label{
    display: block;
}
input{
    padding: 1em;
    width: 18em;
    margin: 5px;
}
.three, .four{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: 5px;
    margin-left: 6.5em;
}
.five{
    margin-left: -34em;
}
.five>label{
    margin-left: -5em;
}
.button{
    text-align: center;
}
.button input{
    background-color: rgb(25, 95, 156);
    padding: 9px;
    margin: 5px;
    color: white;
    border: 1px solid  rgb(25, 95, 156);
    border-radius: 10px;
}