* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: auto auto;
    border: 10px solid black;
    height: 500px;
    width: 500px;
}
